USE [master]
GO
/****** Object:  Database [##NOMBRE_DB##]    Script Date: 11/3/2025 1:58:10 PM ******/
CREATE DATABASE [##NOMBRE_DB##]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'##NOMBRE_DB##', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\##NOMBRE_DB##.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'##NOMBRE_DB##_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\##NOMBRE_DB##_log.ldf' , SIZE = 204800KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [##NOMBRE_DB##].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [##NOMBRE_DB##]
GO
/****** Object:  User [DYMDESARROLLO\DyMDesarrollo]    Script Date: 11/3/2025 1:58:10 PM ******/
CREATE USER [DYMDESARROLLO\DyMDesarrollo] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DYMDESARROLLO\DyMDesarrollo]
GO
/****** Object:  Table [dbo].[PTLAplicaciones]    Script Date: 11/3/2025 1:58:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLAplicaciones](
	[aplicacionId] [int] IDENTITY(1,1) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[nombreAplicacion] [nvarchar](100) NOT NULL,
	[descripcionAplicacion] [nvarchar](4000) NULL,
	[estadoAplicacion] [bit] NOT NULL,
	[translateKey] [nvarchar](200) NOT NULL,
	[imagenInicio] [nvarchar](100) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [nvarchar](100) NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [nvarchar](100) NULL,
 CONSTRAINT [PK_PTLAplicaciones] PRIMARY KEY CLUSTERED 
(
	[codigoAplicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLBiblioteca]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLBiblioteca](
	[bibliotecaId] [int] IDENTITY(1,1) NOT NULL,
	[codigoBiblioteca] [nvarchar](200) NOT NULL,
	[nombreBiblioteca] [nvarchar](100) NOT NULL,
	[descripconBiblioteca] [nvarchar](4000) NULL,
	[aplicacionId] [int] NOT NULL,
	[estadoBilbioeca] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLBibliotecas] PRIMARY KEY CLUSTERED 
(
	[codigoBiblioteca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLColorSettings]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLColorSettings](
	[colorNavId] [int] IDENTITY(1,1) NOT NULL,
	[navbarColor] [nvarchar](50) NOT NULL,
	[textoColor] [nvarchar](50) NOT NULL,
	[iconosColor] [nvarchar](50) NOT NULL,
	[buttonsHoverColor] [nvarchar](50) NOT NULL,
	[estadoColor] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLColorSettings] PRIMARY KEY CLUSTERED 
(
	[colorNavId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLConexionesBD]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLConexionesBD](
	[conexionId] [int] IDENTITY(1,1) NOT NULL,
	[codigpConexion] [nvarchar](200) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[codigoServidor] [nvarchar](200) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[nombreConexion] [nvarchar](100) NOT NULL,
	[nombreServidor] [nvarchar](100) NOT NULL,
	[BDNombre] [nvarchar](100) NOT NULL,
	[BDUser] [nvarchar](50) NOT NULL,
	[BDPassword] [nvarchar](50) NOT NULL,
	[BDPort] [int] NOT NULL,
	[descripcionConexion] [nvarchar](4000) NULL,
	[estadoConexion] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLConexionesBD] PRIMARY KEY CLUSTERED 
(
	[codigpConexion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLContenidosEL]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLContenidosEL](
	[contenidoId] [int] IDENTITY(1,1) NOT NULL,
	[codigoContenido] [nvarchar](200) NOT NULL,
	[codigoEnlace] [nvarchar](200) NOT NULL,
	[nombreContenido] [nvarchar](100) NOT NULL,
	[descripcionContenido] [nvarchar](4000) NULL,
	[contenido] [nvarchar](max) NOT NULL,
	[estadoContenido] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLContentsEL] PRIMARY KEY CLUSTERED 
(
	[codigoContenido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLEmpresasSC]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLEmpresasSC](
	[empresaId] [int] IDENTITY(1,1) NOT NULL,
	[codigoEmpresaSC] [nvarchar](200) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[nombreEmpresa] [nvarchar](255) NOT NULL,
	[descripcionEmpresa] [nvarchar](4000) NOT NULL,
	[estadoEmpresa] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK__PTLEmpre__C0E670791CD3E0B9] PRIMARY KEY CLUSTERED 
(
	[codigoEmpresaSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLEnlacesST]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLEnlacesST](
	[enlaceId] [int] IDENTITY(1,1) NOT NULL,
	[codigoEnlace] [nvarchar](200) NOT NULL,
	[codigoSitio] [nvarchar](200) NOT NULL,
	[nombreEnlace] [nvarchar](100) NOT NULL,
	[descripcionEnlace] [nvarchar](4000) NULL,
	[rutaEnlace] [nvarchar](200) NOT NULL,
	[estadoEnlace] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLEnlacesST] PRIMARY KEY CLUSTERED 
(
	[codigoEnlace] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLEstados]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLEstados](
	[estadoId] [int] IDENTITY(1,1) NOT NULL,
	[tipoEstado] [int] NOT NULL,
	[nombreEstado] [nvarchar](100) NULL,
	[siglaEstado] [nvarchar](10) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLEstados] PRIMARY KEY CLUSTERED 
(
	[estadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLIdiomas]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLIdiomas](
	[idiomaId] [int] IDENTITY(1,1) NOT NULL,
	[siglaIdioma] [nvarchar](2) NULL,
	[nombreIdioma] [nvarchar](50) NULL,
	[flagIdioma] [nvarchar](100) NULL,
	[estadoIdioma] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLIdiomas] PRIMARY KEY CLUSTERED 
(
	[idiomaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLItemsPaquete]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLItemsPaquete](
	[itemId] [int] IDENTITY(1,1) NOT NULL,
	[codigoItem] [nvarchar](200) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[codigoValor] [nvarchar](200) NOT NULL,
	[descripcionItem] [nvarchar](4000) NOT NULL,
	[cantidad] [int] NOT NULL,
	[valorUnitario] [decimal](18, 2) NOT NULL,
	[valorTotal] [decimal](18, 2) NOT NULL,
	[valoresAdicionales] [decimal](18, 2) NOT NULL,
	[estadoItem] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLItemsPaquete_1] PRIMARY KEY CLUSTERED 
(
	[codigoItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLLogActividadesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLLogActividadesAP](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NULL,
	[codigoSuite] [nvarchar](200) NULL,
	[codigoModulo] [nvarchar](200) NULL,
	[codigoTipoLog] [nvarchar](200) NULL,
	[codigoSuscriptor] [nvarchar](200) NULL,
	[codigoRespuesta] [nvarchar](50) NULL,
	[fechaLog] [nvarchar](100) NULL,
	[descripcionLog] [nvarchar](4000) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [nvarchar](100) NULL,
 CONSTRAINT [PK_PTLLogActividadesAP] PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLLogActualizacionesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLLogActualizacionesAP](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[codigoVersion] [nvarchar](200) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[fecha] [datetime] NULL,
	[observaciones] [nvarchar](4000) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLLogActualizaciones] PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLLogTransaccionesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLLogTransaccionesAP](
	[logId] [int] IDENTITY(1,1) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[fecha] [datetime] NULL,
	[descripcionLog] [nvarchar](500) NULL,
	[codigoError] [nvarchar](50) NULL,
	[mensajeError] [nvarchar](500) NULL,
	[usuarioGenerador] [nvarchar](100) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLLogTransaccionesAP] PRIMARY KEY CLUSTERED 
(
	[logId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLModulosAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLModulosAP](
	[moduloId] [int] IDENTITY(1,1) NOT NULL,
	[codigoModulo] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[codigoSuite] [nvarchar](200) NOT NULL,
	[codigoPadre] [nvarchar](200) NULL,
	[nombreModulo] [nvarchar](100) NOT NULL,
	[descripcionModulo] [nvarchar](4000) NULL,
	[precioModulo] [int] NOT NULL,
	[rutaModulo] [nvarchar](100) NOT NULL,
	[hijos] [bit] NOT NULL,
	[icon] [nvarchar](100) NULL,
	[translateKey] [nvarchar](200) NULL,
	[estadoModulo] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLModuloAP] PRIMARY KEY CLUSTERED 
(
	[codigoModulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLModulosPQ]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLModulosPQ](
	[moduloPQId] [int] IDENTITY(1,1) NOT NULL,
	[codigoModulo] [nvarchar](200) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[estadoModulo] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLModulosPQ] PRIMARY KEY CLUSTERED 
(
	[moduloPQId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLPaquetes]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLPaquetes](
	[paquetesId] [int] IDENTITY(1,1) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[nombrePaquete] [nvarchar](100) NOT NULL,
	[descripcionPaquete] [nvarchar](4000) NULL,
	[acuerdoLicencia] [nvarchar](100) NOT NULL,
	[costoPquete] [decimal](18, 2) NOT NULL,
	[precioPaquete] [decimal](18, 2) NOT NULL,
	[precioPromocion] [decimal](18, 2) NOT NULL,
	[imagenPaquete] [nvarchar](100) NULL,
	[iconoPaquete] [nvarchar](100) NULL,
	[colorPaquete] [nvarchar](50) NULL,
	[promocion] [bit] NOT NULL,
	[estadoPaquete] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLPaquetes] PRIMARY KEY CLUSTERED 
(
	[codigoPaquete] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLPaquetesSC]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLPaquetesSC](
	[suscriptoPaqueteId] [int] IDENTITY(1,1) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[codigoLicencia] [nvarchar](200) NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaVencimiento] [datetime] NOT NULL,
	[estadoLicencia] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSuscriptorAplicaciones] PRIMARY KEY CLUSTERED 
(
	[suscriptoPaqueteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLRegistrosBiblioteca]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLRegistrosBiblioteca](
	[registroId] [int] IDENTITY(1,1) NOT NULL,
	[codigoModulo] [nvarchar](200) NULL,
	[codigoBiblioteca] [nvarchar](200) NULL,
	[nombreRegistro] [nvarchar](100) NULL,
	[rutaRegistro] [nvarchar](200) NULL,
	[descripcionRegistro] [nvarchar](4000) NULL,
	[estadoRegistro] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLRegistrosBiblioteca] PRIMARY KEY CLUSTERED 
(
	[registroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLRequerimientosTK]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLRequerimientosTK](
	[requerimientoId] [int] IDENTITY(1,1) NOT NULL,
	[codigoRequerimiento] [nvarchar](200) NOT NULL,
	[codigoTicket] [nvarchar](200) NOT NULL,
	[nombreRequerimiento] [nvarchar](100) NOT NULL,
	[descripcionRequerimiento] [nvarchar](4000) NULL,
	[estadoRequerimiento] [varchar](10) NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLRequerimientoHD] PRIMARY KEY CLUSTERED 
(
	[codigoRequerimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLRolesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLRolesAP](
	[roleId] [int] IDENTITY(1,1) NOT NULL,
	[codigoRole] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[codigoSuite] [nvarchar](200) NOT NULL,
	[nombreRole] [nvarchar](100) NOT NULL,
	[descripcionRole] [nvarchar](4000) NULL,
	[estadoRole] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLRolesAP_1] PRIMARY KEY CLUSTERED 
(
	[codigoRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSeguimientosRQ]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSeguimientosRQ](
	[seguimientoId] [int] IDENTITY(1,1) NOT NULL,
	[codigoRequerimiento] [nvarchar](200) NOT NULL,
	[nombreSeguimiento] [nvarchar](100) NULL,
	[descripcionSeguimiento] [nvarchar](4000) NULL,
	[estadoSeguimiento] [varchar](10) NOT NULL,
	[estadoRequerimiento] [varchar](10) NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSeguimientoRQ] PRIMARY KEY CLUSTERED 
(
	[seguimientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLServidor]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLServidor](
	[servidorId] [int] IDENTITY(1,1) NOT NULL,
	[codigoServidor] [nvarchar](200) NOT NULL,
	[nombreServidor] [nvarchar](100) NOT NULL,
	[descripcionServidor] [nvarchar](4000) NULL,
	[rutaServidor] [nvarchar](100) NOT NULL,
	[estadoServidor] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLServidor] PRIMARY KEY CLUSTERED 
(
	[codigoServidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSitiosAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSitiosAP](
	[sitioId] [int] IDENTITY(1,1) NOT NULL,
	[codigoSitio] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NULL,
	[nombreSitio] [nvarchar](100) NOT NULL,
	[descripcionSitio] [nvarchar](4000) NULL,
	[urlSitio] [nvarchar](100) NOT NULL,
	[puertoSitio] [int] NULL,
	[estadoSitio] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSitios] PRIMARY KEY CLUSTERED 
(
	[codigoSitio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSliderInicio]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSliderInicio](
	[sliderId] [int] IDENTITY(1,1) NOT NULL,
	[nombreSlider] [nvarchar](100) NOT NULL,
	[urlSlider] [nvarchar](200) NOT NULL,
	[descripcionSlider] [nvarchar](4000) NULL,
	[estadoSlider] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSliderInicio] PRIMARY KEY CLUSTERED 
(
	[sliderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSuitesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSuitesAP](
	[suiteId] [int] IDENTITY(1,1) NOT NULL,
	[codigoSuite] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[nombreSuite] [nvarchar](200) NULL,
	[descripcionSuite] [nvarchar](4000) NULL,
	[estadoSuite] [bit] NOT NULL,
	[rutaInicio] [nvarchar](200) NULL,
	[translateKey] [nvarchar](200) NULL,
	[imagenInicio] [nvarchar](100) NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSuitesAP] PRIMARY KEY CLUSTERED 
(
	[codigoSuite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSuitesPQ]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSuitesPQ](
	[suitePqueteId] [int] IDENTITY(1,1) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[codigoSuite] [nvarchar](200) NOT NULL,
	[estadoSuite] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLPaqueteAplicaciones] PRIMARY KEY CLUSTERED 
(
	[suitePqueteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSuscriptores]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSuscriptores](
	[suscriptorId] [int] IDENTITY(1,1) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[nombreSuscriptor] [nvarchar](100) NOT NULL,
	[identificacionSusucriptor] [bigint] NOT NULL,
	[correoSuscriptor] [nvarchar](100) NOT NULL,
	[numeroEmpresas] [int] NOT NULL,
	[numeroUsuarios] [int] NOT NULL,
	[logoSuscriptor] [nvarchar](100) NULL,
	[descripcionSuscriptor] [nvarchar](4000) NULL,
	[estadoSuscriptor] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSuscriptorAP] PRIMARY KEY CLUSTERED 
(
	[codigoSuscriptor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLSuscriptoresPQ]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLSuscriptoresPQ](
	[suscriptorPaqueteId] [int] IDENTITY(1,1) NOT NULL,
	[codigoSuscriptor] [nvarchar](200) NOT NULL,
	[codigoPaquete] [nvarchar](200) NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaVencimiento] [datetime] NOT NULL,
	[codigoLicencia] [nvarchar](100) NOT NULL,
	[estadoLicencia] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLSuscriptoresPaquetes] PRIMARY KEY CLUSTERED 
(
	[suscriptorPaqueteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLTextosID]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLTextosID](
	[textoId] [int] IDENTITY(1,1) NOT NULL,
	[idiomaId] [int] NULL,
	[anclaTexto] [nvarchar](50) NULL,
	[textoValor] [nvarchar](4000) NULL,
	[estadoTexto] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLTextos] PRIMARY KEY CLUSTERED 
(
	[textoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLTicketsAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLTicketsAP](
	[ticketId] [int] IDENTITY(1,1) NOT NULL,
	[codigoTicket] [nvarchar](200) NOT NULL,
	[codioAplicacion] [nvarchar](200) NULL,
	[codigoSiote] [nvarchar](200) NULL,
	[codigoModulo] [nvarchar](200) NULL,
	[nombreTicket] [nvarchar](100) NOT NULL,
	[codigoUsuarioSender] [nvarchar](200) NOT NULL,
	[codigoUsuarioAsignado] [nvarchar](200) NULL,
	[fechaAsogmacion] [datetime] NULL,
	[prioridad] [int] NULL,
	[descripcionTicket] [nvarchar](4000) NULL,
	[estadoTicket] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLHelpDeskTicketAP] PRIMARY KEY CLUSTERED 
(
	[codigoTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLTiposEstados]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLTiposEstados](
	[tipoEstadoId] [int] IDENTITY(1,1) NOT NULL,
	[tipoEstado] [int] NOT NULL,
	[nombreTipo] [nvarchar](100) NULL,
	[descripcionEstado] [nvarchar](4000) NULL,
	[estado] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLTiposEstados] PRIMARY KEY CLUSTERED 
(
	[tipoEstadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLTiposLogs]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLTiposLogs](
	[tipoLogId] [int] IDENTITY(1,1) NOT NULL,
	[codigoTipoLog] [nvarchar](255) NOT NULL,
	[nombreTipo] [nvarchar](255) NOT NULL,
	[descripcionTipo] [nvarchar](255) NOT NULL,
	[codigoRespuesta] [nvarchar](50) NULL,
	[estadoTipo] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](255) NOT NULL,
	[fechaCreacion] [nvarchar](255) NOT NULL,
	[codigoUsuarioModificacion] [nvarchar](255) NULL,
	[fechaModificacion] [nvarchar](255) NULL,
 CONSTRAINT [PK__PTLTipos__55474DC72BCF2E0A] PRIMARY KEY CLUSTERED 
(
	[codigoTipoLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLTiposValor]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLTiposValor](
	[tipoValorId] [int] IDENTITY(1,1) NOT NULL,
	[nombreTipo] [nvarchar](100) NOT NULL,
	[descripcionTipo] [nvarchar](4000) NULL,
	[estadoTipo] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLTiposValor] PRIMARY KEY CLUSTERED 
(
	[tipoValorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLUsuarioRoleAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLUsuarioRoleAP](
	[usuarioRoleId] [int] IDENTITY(1,1) NOT NULL,
	[codigoUsuario] [nvarchar](255) NOT NULL,
	[codigoRole] [nvarchar](255) NOT NULL,
	[estadoUsuarioRole] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](255) NOT NULL,
	[fechaCreacion] [datetimeoffset](7) NOT NULL,
	[codigoUsuarioModificacion] [nvarchar](255) NOT NULL,
	[fechaModificacion] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usuarioRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLUsuarios]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLUsuarios](
	[usuarioId] [int] IDENTITY(1,1) NOT NULL,
	[codigoUsuario] [nvarchar](200) NOT NULL,
	[identificacionUsuario] [bigint] NOT NULL,
	[nombreUsuario] [nvarchar](200) NULL,
	[correoUsuario] [nvarchar](200) NULL,
	[userNameUsuario] [nvarchar](100) NOT NULL,
	[claveUsuario] [nvarchar](200) NOT NULL,
	[descripcionUsuario] [nvarchar](4000) NULL,
	[fotoUsuario] [nvarchar](200) NULL,
	[estadoUsuario] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLUsuarios] PRIMARY KEY CLUSTERED 
(
	[codigoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLUsuariosRole]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLUsuariosRole](
	[usuarioRoleId] [int] IDENTITY(1,1) NOT NULL,
	[codigoUsuario] [nvarchar](200) NULL,
	[codigoRole] [nvarchar](200) NULL,
	[estadoUsuarioRole] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLUsuariosRole] PRIMARY KEY CLUSTERED 
(
	[usuarioRoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLUsuariosSC]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLUsuariosSC](
	[usuarioSCId] [int] IDENTITY(1,1) NOT NULL,
	[codigoUsuarioSC] [nvarchar](200) NOT NULL,
	[codigoUsuairo] [nvarchar](200) NOT NULL,
	[codigoEmpresaSC] [nvarchar](200) NULL,
	[estadoUsuairoSC] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLUsuariosSC] PRIMARY KEY CLUSTERED 
(
	[codigoUsuarioSC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLValoresUnitarios]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLValoresUnitarios](
	[valorUnitarioId] [int] IDENTITY(1,1) NOT NULL,
	[codigoValor] [nvarchar](200) NOT NULL,
	[tipoValorId] [int] NOT NULL,
	[nombreValor] [nvarchar](100) NOT NULL,
	[valorUnitario] [int] NOT NULL,
	[costoValor] [int] NOT NULL,
	[descripcionValor] [nvarchar](4000) NULL,
	[estadoValor] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLValoresUnitarios_1] PRIMARY KEY CLUSTERED 
(
	[codigoValor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PTLVersionesAP]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PTLVersionesAP](
	[versionId] [int] IDENTITY(1,1) NOT NULL,
	[codigoVersion] [nvarchar](200) NOT NULL,
	[codigoAplicacion] [nvarchar](200) NOT NULL,
	[fechaVersion] [datetime] NOT NULL,
	[nombreVersion] [nvarchar](255) NOT NULL,
	[descripcionVersion] [nvarchar](4000) NOT NULL,
	[estadoVersion] [bit] NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NULL,
	[fechaCreacion] [datetime] NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_PTLVersionesAP] PRIMARY KEY CLUSTERED 
(
	[codigoVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBLTiposLogs]    Script Date: 11/3/2025 1:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLTiposLogs](
	[tipoLogId] [int] IDENTITY(1,1) NOT NULL,
	[codigoTipoLog] [nvarchar](200) NOT NULL,
	[nombreTipo] [nvarchar](100) NOT NULL,
	[descripcionTipo] [nvarchar](4000) NULL,
	[estadoTipo] [bit] NOT NULL,
	[codigoUsuarioCreacion] [nvarchar](200) NOT NULL,
	[fechaCreacion] [nvarchar](100) NOT NULL,
	[codigoUsuarioModificacion] [nvarchar](200) NULL,
	[fechaModificacion] [datetime] NULL,
 CONSTRAINT [PK_TBLTiposLogs] PRIMARY KEY CLUSTERED 
(
	[codigoTipoLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
